name: CI

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v5
        with:
          go-version-file: pulumi-language-bun/go.mod
          cache: true
          cache-dependency-path: pulumi-language-bun/go.sum

      - run: make build
